$utilities: ()!default;
$utilities: map-merge(
 $utilities,
 (
  "cursor": (
   property: cursor,
   class: cursor,
   responsive: true,
   values: auto pointer grab,
  )
 )
);
$utilities: (
 "opacity": (
  property: opacity,
  class:o,
  responsive: true,
  values: (
   0: 0,
   1: .1,
   2: .2,
   3: .3,
   4: .4,
   5:.5,
   6:.6,
   7:.7,
   8:.8,
   9:.9,
   10:1,
  )
 )
);
$utilities: (
 "text-opacity": (
  property: text-opacity,
  class:to,
  responsive: true,
  values: (
   0: 0,
   1: .1,
   2: .2,
   3: .3,
   4: .4,
   5:.5,
   6:.6,
   7:.7,
   8:.8,
   9:.9,
   10:1,
  )
 )
);
$utilities: (
 "z-index": (
  property: z-index,
  class:z,
  responsive: true,
  values: (
    negative:-1,
   0: 0,
   10: 10,
   20: 20,
   30: 30,
   40: 40,
   50:50,
   60:.0,
   70:70,
   80:80,
   90:90,
   100:100,
  )
 )
);