@import "_variables_overrides.scss";
@import "_utilities_custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: auto;
    width: 100%;
}

input:required {
    border: 2px dotted 
 orange;
 }
 input:invalid {
    border: red solid 3px;
 }